# Dataset Description
The raw data downloaded from UCI (cleveland.data) is corrupted and was never re-uploaded.
<br> Only the cleveland.processed.data can be used.

In z-lab
- With heart disease (1): 165
- No heart disease (0): 138

Actual
- With heart disease (1,2,3,4): 139
- No heart disease (0): 0

Value from 1 to 4
1. Mild heart disease.
2. Moderate heart disease.
3. Severe heart disease.
4. Very severe heart disease.

# Raw Data
Explain how the processed raw data relates to the original (76) columns.

## TODO:
1. Check for duplicate rows.

### Was the pressure converted to MAP?
- https://www.mdcalc.com/calc/74/mean-arterial-pressure-map

## Data dictionary

In [38]:
# All required libraries.
import pandas as pd

In [45]:
header =['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
data = pd.read_csv('data/processed.cleveland.data', names=header)
# 303 records and 14 columns.
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

## Check for duplicate rows and missing data.

sex
1.0    206
0.0     97
Name: count, dtype: int64

In [6]:
# When all columns were checked, no duplicate rows were found.
duplicate = data[data.duplicated()]
duplicate

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, num]
Index: []

In [7]:
# No missing data. isnull and isna is the same, checking for None, NaN or NaT (datetime)
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

# Data Exploration (EDA)

In [8]:
# Check the target balance.
data["num"].value_counts()

num
0    164
1     55
2     36
3     35
4     13
Name: count, dtype: int64

In [ ]:
data["num"].value_counts().plot(kind='bar');

In [ ]:
data[data["num"]!=0]=1

In [ ]:
data["num"].value_counts()

In [ ]:
data["num"].value_counts().plot(kind='bar', color=['salmon','lightblue']);

In [ ]:
data.cp.value_counts()

In [ ]:
 # Taken from heart-disease.names
 # The "goal" field refers to the presence of heart disease
 #     in the patient.  It is integer valued from 0 (no presence) to 4.
 #     Experiments with the Cleveland database have concentrated on simply
 #     attempting to distinguish presence (values 1,2,3,4) from absence (value
 #     0).
data.num.value_counts()

In [ ]:
data.isna().sum()

In [10]:
# When investigated, 2 columns that 'ca' and 'thal' has non-numeric values.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    object
 12  thal      303 non-null    object
 13  num       303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

In [11]:
# For column 'ca', 4 records contains the value of '?'.
data['ca'].value_counts()

ca
0.0    176
1.0     65
2.0     38
3.0     20
?        4
Name: count, dtype: int64

In [40]:
# For column 'thal', 2 records contains the value of '?'.
data['thal'].value_counts()

thal
3.0    166
7.0    117
6.0     18
?        2
Name: count, dtype: int64

In [43]:
selected = data[data['thal']=='?']
selected

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
87,53.0,0.0,3.0,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0.0,?,0
266,52.0,1.0,4.0,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0.0,?,2

In [ ]:
data['sex'].value_counts()