# Investigate Datasets
During EDA, while exploring cleveland dataset (`cleveland.processed.data`), it was observed, `?` character was inserted into important columns and rendering the records with missing values. About 2% (6 records) was affected.\
In this notebook, the following processed datasets will be investigated if the same missing value issues occurs.
- Long Beach (VA) `processed.va.data`
- Hungarian `processed.hungarian.data`
- Switzerland `processed.switzerland.data`

In [83]:
# All required libraries.
import pandas as pd
import matplotlib.pyplot as plt;
import seaborn as sns;
from custom_libs import helper
from importlib import reload
import numpy as np

# Long Beach (VA)

In [84]:
total_records = 0
header =['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
data = pd.read_csv(f'data/uci-heart-disease/processed.va.data', names=header)
# 303 records and 14 columns.
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0

In [59]:
# 200 records found.
total_records += data.shape[0]
data.shape

(200, 14)

In [60]:
# Invalid such as '?' exists in columns that are of type object.
data.columns.to_series().groupby(data.dtypes).groups

{int64: ['age', 'sex', 'cp', 'restecg', 'num'], object: ['trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']}

In [61]:
# object: ['trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']}
invalid_data = data[(data['trestbps']=='?')
      |(data['chol']=='?')
      |(data['fbs']=='?')
      |(data['thalach']=='?')
      |(data['exang']=='?')
      |(data['oldpeak']=='?')
      |(data['slope']=='?')
      |(data['ca']=='?')
      |(data['thal']=='?')
 ]

# Records with invalid data => 200 - 199 = 1 (Balance one that can be salvaged)
invalid_data.shape

(199, 14)

In [62]:
# Dropping the invalid data and salvaging the valid one(s).
data.drop(invalid_data.index, inplace=True)
valid_data = data
valid_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
28,56,1,4,120,100,0,0,120,1,1.5,2,0,7,1

# Hungarian

In [63]:
header =['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
data = pd.read_csv(f'data/uci-heart-disease/processed.hungarian.data', names=header)
# 303 records and 14 columns.
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [64]:
# 294 records found.
total_records += data.shape[0]
data.shape

(294, 14)

In [65]:
# Invalid such as '?' exists in columns that are of type object.
data.columns.to_series().groupby(data.dtypes).groups

{int64: ['age', 'sex', 'cp', 'num'], float64: ['oldpeak'], object: ['trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'slope', 'ca', 'thal']}

In [66]:
# object: ['trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'slope', 'ca', 'thal']}
invalid_data = data[(data['trestbps']=='?')
      |(data['chol']=='?')
      |(data['fbs']=='?')
      |(data['restecg']=='?')
      |(data['thalach']=='?')
      |(data['exang']=='?')
      |(data['slope']=='?')
      |(data['ca']=='?')
      |(data['thal']=='?')
 ]

# Records with invalid data => 294 - 293 = 1 (Balance one that can be salvaged)
invalid_data.shape

(293, 14)

In [67]:
 # Dropping the invalid data and salvaging the valid one(s).
data.drop(invalid_data.index, inplace=True)
tmp = data
tmp

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
205,47,1,4,150,226,0,0,98,1,1.5,2,0,7,1

In [68]:
valid_data = pd.concat([valid_data, tmp], ignore_index=True)
# valid_data.reset_index(drop=True, inplace=True)
valid_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,56,1,4,120,100,0,0,120,1,1.5,2,0,7,1
1,47,1,4,150,226,0,0,98,1,1.5,2,0,7,1

# Switzerland

In [69]:
header =['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
data = pd.read_csv(f'data/uci-heart-disease/processed.switzerland.data', names=header)
# 303 records and 14 columns.
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,32,1,1,95,0,?,0,127,0,.7,1,?,?,1
1,34,1,4,115,0,?,?,154,0,.2,1,?,?,1
2,35,1,4,?,0,?,0,130,1,?,?,?,7,3
3,36,1,4,110,0,?,0,125,1,1,2,?,6,1
4,38,0,4,105,0,?,0,166,0,2.8,1,?,?,2

In [70]:
# 123 records found.
total_records += data.shape[0]
data.shape

(123, 14)

In [71]:
# Invalid such as '?' exists in columns that are of type object.
data.columns.to_series().groupby(data.dtypes).groups

{int64: ['age', 'sex', 'cp', 'chol', 'num'], object: ['trestbps', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']}

In [72]:
# object: ['trestbps', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']}
invalid_data = data[(data['trestbps']=='?')
      |(data['fbs']=='?')
      |(data['restecg']=='?')
      |(data['thalach']=='?')
      |(data['exang']=='?')
      |(data['oldpeak']=='?')
      |(data['slope']=='?')
      |(data['ca']=='?')
      |(data['thal']=='?')
 ]

# Records with invalid data => 123 - 123 = 0 (Nothing to salvage)
invalid_data.shape

(123, 14)

# Save the Salvaged
Only 2/617 records can be saved from the three datasets (Long Beach, Hungarian, Switzerland)

In [73]:
# Save the two records to use later.
valid_data.to_csv('data/uci-salvaged.data', index=False)

In [82]:
print(f'Summary of records for all three datasets (Long Beach, Hungarian and Switzerland)')
print(f'Total records \t: {total_records}')
print(f'Total salvaged \t: {valid_data.shape[0]}')
print(f'Missing values \t: {(total_records - valid_data.shape[0])/total_records*100:.2f}%')

Summary of records for all three datasets (Long Beach, Hungarian and Switzerland)
Total records 	: 617
Total salvaged 	: 2
Missing values 	: 99.68%